@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title" class="display-2 text-success">@ViewBag.Title Gallart</h2>

    <img class="d-block h-50 w-100" src="~/Content/Images/gallery1.jpg" alt="First slide" style="max-height: 440px; object-fit: cover;">

    <p class="d-inline-block h5 m-xl-5"><span class="h1" style="font-family: 'Kablammo', Arial;">Gallart</span> was founded in 2023 and has been an integral part of the city's culture since the start. Gallart is a place where every artist can exhibit their art and sell it if they wish to. It's a community where people can schedule events and have a fun time while being surrounded with the best of our local artists. Our mission is to show the people's culture while also allowing people to have a good time.</p>
</main>