@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title" class="text-center">
    <div class="text-center border d-inline-block m-4" style="padding: 100px 200px;">
        <h2 id="title" class="display-3">@ViewBag.Title</h2>

        <address>
            Kosturski heroi 123<br />
            Skopje, Makedonija<br />
            <abbr title="Phone">P:</abbr>
            075 223 305
        </address>

        <address>
            <strong><a class="text-success text-decoration-underline">gallart@gmail.com</a></strong>
        </address>
    </div>
</main>